<div class="card-fluid text-center">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title mb-2 mt-4"> This First Heading <small class="text-body-secondary">Will Catch Your
            Eye</small></h3>
        <p class="card-text me-3 ms-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, beatae atque
          accusantium
          eveniet repellendus voluptatum itaque. Exercitationem nulla nam tempore ipsam assumenda sunt, in enim
          reiciendis repudiandae sequi corporis optio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          aliquid dolorem eveniet vitae, nihil quaerat reiciendis rem ea eum aperiam voluptates mollitia beatae
          inventore veritatis iure, cum nostrum sint eius.</p>
        <p>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
            aria-expanded="false" aria-controls="collapseWidthExample">
            References from our website
          </button>
        </p>
        <div style="min-height: 120px;">
          <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body">
              Text with explanation and then different reference links
              <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="#">
                Info link
                <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
                  <path
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </a>
              <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="#">
                Info link
                <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
                  <path
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <img src="https://picsum.photos/id/433/300/300" class="img-fluid rounded-circle">
    </div>
  </div>
</div>